#page-blog .filters-container {
  position: relative;
  display: flex;
  gap: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  max-width: calc(#{$max-width-content} + 2rem);
  margin: 0 auto;
  padding: 1rem;

  .submenu-content {
    @include shadow(10px);
    position: absolute;
    left: 0;
    top: 4rem;
    width: 100%;
    background-color: #fff;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 1.2rem;
    row-gap: 1rem;
    max-height: 250px;
    padding: 1rem;
    max-width: calc(#{$max-width-content} + 2rem);
    overflow-x: auto;
  }

  button {
    background-color: transparent;
  }

  button i {
    margin-left: 8px;
  }

  button:active {
    color: var(--cor-verde-escuro);
  }

  .submenu > .submenu-content.show {
    display: flex;
    color: var(--cor-verde-escuro);
    z-index: 10;
  }

  .submenu {
    color: var(--cor-verde-escuro);
  }

  .submenu-content a {
    text-decoration: none;
    color: var(--cor-verde-escuro);
  }
}

#page-blog .blog-notices-container {
  @include padding();
}

#page-blog .blog-notices-container-wrapper {
  max-width: $max-width-content;
  margin: 0 auto;
}
