#page-blog .all-notices {
  @include padding();
}

.notice-card-blog {
  display: block;
  grid-template-columns: 1fr 1fr;
  min-height: 400px;
  width: 100%;
  margin: 60px auto;

  @media screen and (min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 400px;
    max-width: 1000px;
  }
}

.notice-card-blog a {
  @include linkDefaultStyle();

  width: fit-content;
  border-radius: 32px;
  padding: 8px 16px;
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
  background-color: var(--cor-amarelo);
}

.notice-card-blog span {
  color: var(--cor-laranja);
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}

.notice-card-blog h5 {
  font-size: 28px;
  font-weight: bold;
  color: var(--cor-azul-escuro);
}

.notice-card-blog .thumbnail {
  @include backgroundCover();

  @media screen and (max-width: $breakpoint-tablet) {
    width: 100%;
    height: 300px;
  }
}

.notice-card-blog .content {
  @include shadow(10px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 32px 16px;
}
