#page-blog .filters-container {
  position: relative;
  display: flex;
  gap: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  max-width: calc(#{$max-width-content} + 2rem);
  margin: 0 auto;
  padding: 1rem;

  .submenu-content {
    @include shadow(10px);
    position: absolute;
    left: 0;
    top: 4rem;
    width: 100%;
    background-color: #fff;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 1.2rem;
    row-gap: 1rem;
    max-height: 250px;
    padding: 1rem;
    max-width: calc(#{$max-width-content} + 2rem);
    overflow-x: auto;
  }

  button {
    background-color: transparent;
  }

  button i {
    margin-left: 8px;
  }

  button:active {
    color: var(--cor-verde-escuro);
  }

  .submenu > .submenu-content.show {
    display: flex;
    color: var(--cor-verde-escuro);
    z-index: 10;
  }

  .submenu {
    color: var(--cor-verde-escuro);
  }

  .submenu-content a {
    text-decoration: none;
    color: var(--cor-verde-escuro);
  }
}

#page-blog .blog-notices-container {
  @include padding();
}

#page-blog .blog-notices-container-wrapper {
  max-width: $max-width-content;
  margin: 0 auto;
}

#page-blog .blog-notices-container-wrapper .cardNotice:nth-child(even) {
  @media screen and (min-width: 768px) {
    &::after {
      left: unset;
      right: 0;
    }

    .thumbnail {
      margin-left: auto;
    }

    .content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      z-index: 2;
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination-container .pagination ul {
  display: flex;
  width: 100%;
}

.pagination-container .pagination a,
.pagination-container .pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: var(--cor-verde-claro);
  color: var(--cor-verde-escuro);
  text-decoration: none;
  font-size: 1rem;
  line-height: 0;
}

.pagination-container .pagination .current {
  background-color: var(--cor-verde-escuro);
  color: var(--cor-verde-claro);
}

.pagination-container .pagination li:nth-child(even) {
  margin-left: 16px;
  margin-right: 16px;
}

.pagination-container .pagination .next,
.pagination-container .pagination .prev {
  background-color: var(--cor-azul-escuro);
  color: #fff;

  i {
    font-size: 12px;
  }
}
