.section-differentials {
  @include padding();

  h2 {
    @include title();
  }

  .divider {
    @include divider(var(--cor-azul-escuro));
    margin-bottom: 100px;
  }
}

.section-differentials .content {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $breakpoint-mobile) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 64px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}

.section-differentials .content article {
  margin-bottom: 32px;
  text-align: center;

  @media screen and (min-width: $breakpoint-tablet) {
    margin: 0 auto;
  }

  img {
    max-width: 150px;
    margin-top: 24px;
    width: 100%;
    height: auto;

    @media screen and (min-width: $breakpoint-tablet) {
      margin-top: 0;
    }
  }

  h5 {
    color: var(--cor-verde-claro);
    font-size: 28px;
    font-weight: bold;
    margin-top: 12px;
  }
}
