<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="author" content="@rbmelolima">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="shortcut icon" href="" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./libs/font-awesome/css/all.min.css" rel="preload" />
  <link rel="stylesheet" href="./libs/swiper/swiper.min.css" rel="preload" />
  <link rel="stylesheet" href="./styles/css/style.css" rel="preload">
  <title>Ecovila</title>

</head>

<body id="page-service">
  <nav id="menu-container">
    <div id="menu-button-toggle" onclick="toggleMenu()">
      <i class="fas fa-bars" id="menu-button-icon"></i>
    </div>

    <div>
      <a class="header-logo-link" href="" title="Início">
        <img src="./assets/logo/logo.png" alt="Ecovila Logo" />
      </a>
    </div>

    <div>
      <div class="social-links">
        <a href="" target="_blank" rel="noopener" title="Facebook"> <i class="fab fa-facebook-f"></i></a>
        <a href="" target="_blank" rel="noopener" title="Instagram"> <i class="fab fa-instagram"></i></a>
        <a href="" target="_blank" rel="noopener" title="Linkedin"> <i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>

    <div id="menu-container-overlay">
      <div class="wrapper">
        <ul>
          <li><a href="index.html">Início</a></li>
          <li><a href="sobre.html">Ecovila Resort Residencial</a></li>
          <li><a href="">Casa Eficiente</a></li>
          <li><a href="">Casas</a></li>
          <li><a href="">Serviços</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="contato.html">Contato</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="contact-absolute">
    <div id="wrapper-contact-tel">
      <span id="phone-fixed-tel">(13) 988282873</span>
      <a href="tel:13988282873" class="contact-phone" title="Telefone">
        <img src="./assets/icons/phone.svg" />
      </a>
    </div>

    <div>
      <a href="mail:" target="_blank" rel="noopener" class="contact-google" title="Email">
        <img src="./assets/icons/googleLogo.svg" />
      </a>
    </div>

    <div>
      <a href="https://api.whatsapp.com/send?phone=5513988282873" class="contact-whatsapp" title="Whatsapp">
        <img src="./assets/icons/whatsapp.svg" />
      </a>
    </div>
  </div>
  <main>
    <div class="cover"
      style="background-image: url(https://images.unsplash.com/photo-1564013799919-ab600027ffc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=60);">
      <div class="overlay">
        <h1>Nome do serviço</h1>
      </div>
    </div>

    <section class="section-description">
      <h2> O que é </h2>
      <div class="divider"></div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium odit blanditiis ducimus quasi perferendis
          quaerat eveniet deleniti praesentium? Cum laboriosam soluta laudantium neque beatae quibusdam blanditiis unde
          expedita eveniet quod reprehenderit, possimus temporibus praesentium saepe! Quos iure alias reprehenderit
          voluptatibus sint commodi nulla error vitae dolores tempore doloremque, nemo possimus eum sit. Deleniti
          blanditiis beatae autem harum hic quaerat necessitatibus.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium odit blanditiis ducimus quasi perferendis
          quaerat eveniet deleniti praesentium? Cum laboriosam soluta laudantium neque beatae quibusdam blanditiis unde
          expedita eveniet quod reprehenderit, possimus temporibus praesentium saepe! Quos iure alias reprehenderit
          voluptatibus sint commodi nulla error vitae dolores tempore doloremque, nemo possimus eum sit. Deleniti
          blanditiis beatae autem harum hic quaerat necessitatibus.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium odit blanditiis ducimus quasi perferendis
          quaerat eveniet deleniti praesentium? Cum laboriosam soluta laudantium neque beatae quibusdam blanditiis unde
          expedita eveniet quod reprehenderit, possimus temporibus praesentium saepe! Quos iure alias reprehenderit
          voluptatibus sint commodi nulla error vitae dolores tempore doloremque, nemo possimus eum sit. Deleniti
          blanditiis beatae autem harum hic quaerat necessitatibus.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium odit blanditiis ducimus quasi perferendis
          quaerat eveniet deleniti praesentium? Cum laboriosam soluta laudantium neque beatae quibusdam blanditiis unde
          expedita eveniet quod reprehenderit, possimus temporibus praesentium saepe! Quos iure alias reprehenderit
          voluptatibus sint commodi nulla error vitae dolores tempore doloremque, nemo possimus eum sit. Deleniti
          blanditiis beatae autem harum hic quaerat necessitatibus.
        </p>
      </div>
    </section>

    <section class="section-gallery">
      <h2> Galeria de fotos</h2>
      <div class="divider"></div>

      <div class="swiper-container-gallery">
        <!-- Slider main container -->
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"
              style="background-image: url(https://images.unsplash.com/photo-1505843795480-5cfb3c03f6ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);">
            </div>

            <div class="swiper-slide"
              style="background-image: url(https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);">
            </div>

            <div class="swiper-slide"
              style="background-image: url(https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);">
            </div>

            <div class="swiper-slide"
              style="background-image: url(https://images.unsplash.com/photo-1470813740244-df37b8c1edcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);">
            </div>

          </div>

          <!-- navigation buttons -->
          <div class="swiper-button-prev"><i class="fas fa-long-arrow-alt-left"></i></div>
          <div class="swiper-button-next"><i class="fas fa-long-arrow-alt-right"></i></div>
        </div>
      </div>
    </section>


    <section class="section-description">
      <h2> Como é </h2>
      <div class="divider"></div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium odit blanditiis ducimus quasi perferendis
          quaerat eveniet deleniti praesentium? Cum laboriosam soluta laudantium neque beatae quibusdam blanditiis unde
          expedita eveniet quod reprehenderit, possimus temporibus praesentium saepe! Quos iure alias reprehenderit
          voluptatibus sint commodi nulla error vitae dolores tempore doloremque, nemo possimus eum sit. Deleniti
          blanditiis beatae autem harum hic quaerat necessitatibus.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium odit blanditiis ducimus quasi perferendis
          quaerat eveniet deleniti praesentium? Cum laboriosam soluta laudantium neque beatae quibusdam blanditiis unde
          expedita eveniet quod reprehenderit, possimus temporibus praesentium saepe! Quos iure alias reprehenderit
          voluptatibus sint commodi nulla error vitae dolores tempore doloremque, nemo possimus eum sit. Deleniti
          blanditiis beatae autem harum hic quaerat necessitatibus.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium odit blanditiis ducimus quasi perferendis
          quaerat eveniet deleniti praesentium? Cum laboriosam soluta laudantium neque beatae quibusdam blanditiis unde
          expedita eveniet quod reprehenderit, possimus temporibus praesentium saepe! Quos iure alias reprehenderit
          voluptatibus sint commodi nulla error vitae dolores tempore doloremque, nemo possimus eum sit. Deleniti
          blanditiis beatae autem harum hic quaerat necessitatibus.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium odit blanditiis ducimus quasi perferendis
          quaerat eveniet deleniti praesentium? Cum laboriosam soluta laudantium neque beatae quibusdam blanditiis unde
          expedita eveniet quod reprehenderit, possimus temporibus praesentium saepe! Quos iure alias reprehenderit
          voluptatibus sint commodi nulla error vitae dolores tempore doloremque, nemo possimus eum sit. Deleniti
          blanditiis beatae autem harum hic quaerat necessitatibus.
        </p>
      </div>

      <div class="iframe-container">
        <iframe src="https://www.youtube.com/embed/-5KAN9_CzSA" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </section>

    <section class="section-highlight">
      <h2>As Casas</h2>
      <p>
        Projetos que proporcionam qualidade de vida com sustentabilidade e conforto. São 4 modelos diferentes. Um deles
        na medida certa para você e toda sua família.
      </p>

      <div class="divider"></div>

      <!-- Slider main container with id -->
      <div class="swiper-container-highlight">
        <!-- Slider main container -->
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"
              style="background-image: url(https://images.unsplash.com/photo-1542475025-12b507d2d4a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);">
              <div class="filter-green"></div>
              <div class="label">
                <h4>Casa 1</h4>
              </div>
            </div>
            <div class="swiper-slide"
              style="background-image: url(https://images.unsplash.com/photo-1503917815533-9c9825d186a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);">
              <div class="filter-green"></div>
              <div class="label">
                <h4>Casa 2</h4>
              </div>
            </div>
            <div class="swiper-slide"
              style="background-image: url(https://images.unsplash.com/photo-1542475025-12b507d2d4a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);">
              <div class="filter-green"></div>
              <div class="label">
                <h4>Casa 3</h4>
              </div>
            </div>
            <div class="swiper-slide"
              style="background-image: url(https://images.unsplash.com/photo-1503917815533-9c9825d186a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);">
              <div class="filter-green"></div>
              <div class="label">
                <h4>Casa 4</h4>
              </div>
            </div>
          </div>
          <!-- navigation buttons -->
          <div class="swiper-button-prev"><i class="fas fa-long-arrow-alt-left"></i></div>
          <div class="swiper-button-next"><i class="fas fa-long-arrow-alt-right"></i></div>
        </div>
      </div>
    </section>

    <section class="section-highlight">
      <h2>Serviços oferecidos no Condomínio</h2>
      <p> Um conceito de moradia que se preocupa com a qualidade de vida do Planeta </p>
      <div class="divider"></div>

      <!-- Slider main container with id -->
      <div class="swiper-container-highlight">
        <!-- Slider main container -->
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"
              style="background-image: url(https://images.unsplash.com/photo-1542475025-12b507d2d4a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);">
              <div class="filter-green"></div>
              <div class="label">
                <h4>Serviço 1</h4>
              </div>
            </div>
            <div class="swiper-slide"
              style="background-image: url(https://images.unsplash.com/photo-1503917815533-9c9825d186a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);">
              <div class="filter-green"></div>
              <div class="label">
                <h4>Serviço 2</h4>
              </div>
            </div>
            <div class="swiper-slide"
              style="background-image: url(https://images.unsplash.com/photo-1542475025-12b507d2d4a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);">
              <div class="filter-green"></div>
              <div class="label">
                <h4>Serviço 3</h4>
              </div>
            </div>
            <div class="swiper-slide"
              style="background-image: url(https://images.unsplash.com/photo-1503917815533-9c9825d186a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);">
              <div class="filter-green"></div>
              <div class="label">
                <h4>Serviço 4</h4>
              </div>
            </div>
          </div>

          <!-- navigation buttons -->
          <div class="swiper-button-prev"><i class="fas fa-long-arrow-alt-left"></i></div>
          <div class="swiper-button-next"><i class="fas fa-long-arrow-alt-right"></i></div>
        </div>
      </div>
    </section>

    <section class="cta">
      <div class="primary-box">
        <div class="second-box">
          <img src="./assets/icons/diferencial-1.png" alt="">
          <h6>Chamada de destaque alinhada com o assunto</h6>
          <a href="">Entre em contato</a>
        </div>
      </div>
    </section>
  </main>

  <div id="sitemap">
    <div class="section-sitemap logo">
      <img src="./assets/logo/logo.png" alt="Ecovila Logo">
    </div>

    <div class="section-sitemap pages">
      <nav>
        <a href="index.html" title="">Início</a>
        <a href="sobre.html" title="">Ecovila Resort Residencial</a>
        <a href="http://" title="">Blog</a>
        <a href="contato.html" title="">Contato</a>
      </nav>
    </div>

    <div class="section-sitemap houses">
      <a href="http://" title="">Casa Eficiente</a>
      <a href="http://" title="">Tecnologia</a>
      <a href="http://" title="">2 suítes gar. p/ 2 carros</a>
      <a href="http://" title="">2 suítes gar. p/ 3 carros</a>
      <a href="http://" title="">2 suítes gar. p/ 4 carros</a>
      <a href="http://" title="">2 suítes gar. p/ 5 carros</a>
    </div>

    <div class="section-sitemap services">
      <nav>
        <a href="http://" title=""> Serviço </a>
        <a href="http://" title=""> Serviço </a>
        <a href="http://" title=""> Serviço </a>
        <a href="http://" title=""> Serviço </a>
        <a href="http://" title=""> Serviço </a>
      </nav>
    </div>

    <div class="section-sitemap contact">
      <span>
        <div class="icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        Avenida Ubirajara Keutenedjian, no. 202 - Vila Mirim - Praia Grande - SP
      </span>
      <span>
        <div class="icon">
          <i class="fas fa-phone"></i>
        </div>
        13 3471-8544
      </span>
      <span>
        <div class="icon">
          <i class="fas fa-mobile"></i>
        </div>
        13 97403-0652
      </span>
      <span>
        <div class="icon">
          <i class="fas fa-envelope"></i>
        </div>
        contato@ecovilaresortresidencial.com.br
      </span>
      <div class="social-media">
        <a href="" target="_blank" rel="noopener" title="Facebook"> <i class="fab fa-facebook-f"></i></a>
        <a href="" target="_blank" rel="noopener" title="Instagram"> <i class="fab fa-instagram"></i></a>
        <a href="" target="_blank" rel="noopener" title="Linkedin"> <i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>

  <footer class="footer">
    <p>© 2020 <strong>Ecovila Resort Residencial</strong> - Todos os direitos reservados</p>
  </footer>

  <script src="./libs/jquery/jquery-3.4.1.js" rel="preload"></script>
  <script src="./libs/jquery/jquery.mask.min.js" rel="preload"></script>
  <script src="./libs/swiper/swiper.min.js" rel="preload"></script>
  <script src="./js/index.js" rel="preload"></script>
  <script src="./js/sliders.js" rel="preload"></script>
</body>

</html>