#menu-container {
  background-color: #fff;
  height: 100px;
  width: 100%;
  padding: 0.5rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  border-bottom: 1px solid #e6e6e6;
  position: relative;

  @media screen and (min-width: 425px) {
    padding: 0.5rem 1rem;
  }

  & > div {
    justify-self: center;
  }

  a {
    color: var(--cor-verde-claro);
  }

  a:hover {
    color: var(--cor-verde-escuro);
  }

  .header-logo-link img {
    height: 4rem;
    width: auto;
  }

  .social-links {
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    i::before {
      transition: all 0.4s ease-in-out;
    }
  }

  .social-links a:enabled i::before {
    color: var(--cor-verde-claro);
  }

  .social-links a:hover i::before {
    color: var(--cor-verde-escuro);
  }
}

#menu-button-toggle {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  background-color: transparent;

  i::before {
    color: var(--cor-verde-claro);
  }
}

// Menu responsivo
#menu-container-overlay {
  background-color: #fff;
  display: none;

  top: 100px;
  bottom: 0;
  left: 0;
  position: fixed;

  z-index: 10;
  width: 100%;

  &.open {
    display: block;
  }

  & > div {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding: 2rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  & > div::-webkit-scrollbar {
    display: none;
  }

  ul {
    list-style: none;
    text-align: center;
  }

  li {
    margin-bottom: 2.5rem;
  }

  a {
    width: 100%;
    text-decoration: none;
    color: var(--cor-azul-escuro);
    font-size: 1.5rem;
  }

  a:active,
  a:hover {
    color: var(--cor-verde-escuro);
  }

  .sub-menu {
    display: none;
  }

  .sub-menu.show {
    display: block;
    margin: 2rem 0;
  }

  .sub-menu li {
    margin-bottom: 1.5rem;
  }

  .sub-menu a {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sub-menu a:hover,
  .sub-menu a:active {
    color: var(--cor-laranja);
  }

  .size-16 {
    font-size: 1rem !important;
    margin-left: 0.5rem;
  }
}
