#page-about .ctas {
  display: flex;
  width: 100%;
  padding: 1.5rem 0;
}

#page-about .ctas p {
  display: inline;
  width: fit-content;
}

#page-about .ctas a {
  @include linkDefaultStyle();

  &::after {
    @include longArrow();
  }

  font-weight: bold;
  border: 1px solid transparent;

  @media screen and (max-width: $breakpoint-notebook) {
    width: 100%;
    margin-bottom: 24px;
  }
}

#page-about .ctas .wrapper {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  padding: 0 48px;

  @media screen and (max-width: $breakpoint-notebook) {
    flex-direction: column;
    max-width: 100%;
    padding: 0 32px;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0 16px;
  }
}

#page-about .ctas p:nth-child(1) a {
  background-color: var(--cor-verde-claro);
  color: var(--cor-azul-escuro);
}

#page-about .ctas p:nth-child(2) a {
  background-color: var(--cor-azul-escuro);
  color: var(--cor-verde-claro);
}

#page-about .ctas p:nth-child(3) a {
  color: var(--cor-azul-escuro);
  background-color: transparent;
  border-color: var(--cor-azul-escuro);
}

#page-about .ctas p:nth-child(even) {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: $breakpoint-notebook) {
  #page-about .ctas p:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
  }

  #page-about .ctas p {
    width: 100%;
  }
}
