.section-description {
  @include padding();
  max-width: $max-with-content;
  margin: 0 auto;
  column-gap: 2rem;

  h1 {
    @include title();
  }

  h1 + h2 {
    margin-top: -1rem;
  }

  h2 + hr {
    margin-top: 1rem;
  }

  h2 {
    text-align: center;
    color: var(--cor-azul-escuro);
    font-size: 22px;
    font-weight: 600;
  }

  hr,
  .divider {
    @include divider(var(--cor-azul-escuro));
  }

  p {
    @include paragraph();
  }

  a {
    @include linkDefaultStyle();

    background-color: transparent;
    font-size: 1rem;
    color: var(--cor-azul-escuro);
    width: fit-content;
    border-radius: 50px;
    padding: 1rem;
    border: 2px solid var(--cor-verde-claro);
    margin: 2.5rem auto 0 auto;

    i {
      margin-left: 0.5rem;
    }
  }
}

.section-description .iframe-container {
  margin: 0 auto;
  max-width: $max-with-content;
  margin-top: 64px;
}

.section-description iframe {
  width: 100% !important;
  height: 350px !important;

  @media screen and (min-width: 750px) {
    height: 700px !important;
  }
}
