section.news {
  @include padding();

  width: 100%;
  height: fit-content;  
}

section.news h2 {
  @include title();
}

section.news .divider {
  @include divider(var(--cor-amarelo));
  
  margin-bottom: 4rem;
}

section.news .news-container {
  $cardNoticeWidth: 600px;

  display: grid;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 4rem;
  max-width: calc(#{$cardNoticeWidth * 2} + 2rem);
  width: 100%;
  min-height: 450px;
  height: fit-content;
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-tablet) {
    grid-template-columns: 1fr 1fr;
  }
}
