footer.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem 1rem;
  color: #fff;
  background-color: var(--cor-verde-escuro);

  strong {
    color: var(--cor-amarelo);
  }

  p {
    margin-bottom: 0;
  }  

  @media screen and (min-width: $breakpoint-notebook) {
    padding: 1.5rem 2rem;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    padding: 1.5rem 64px;
  }
}
