@import "./arrows.scss";

#page-home .testimony {
  width: 100%;
  height: fit-content;
  padding: $padding-section-mobile;

  @media screen and (min-width: 500px) {
    padding: 80px 12px;
  }
}

#page-home .testimony h2 {
  @include title();
}

#page-home .testimony .divider {
  @include divider(var(--cor-azul-escuro));
}

#page-home .testimony .swiper-container-testimony .swiper-container {
  @include SwiperTestimony();
  position: relative;
}

#page-home .testimony .swiper-slide {
  font-size: 1.2rem;
  background: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;

  @media screen and (max-width: 800px) {
    padding-top: 100px;
  }
}

#page-home .testimony .container-testimony {
  @include shadow(8px);

  padding: 100px 16px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;

  @media screen and (min-width: $breakpoint-tablet) {
    @include shadow(24px);

    width: 60%;
    max-width: 800px;

    padding-left: 48px;
    padding-right: 48px;
  }
}

#page-home .testimony .container-testimony .img-testimony img {
  $sizeImage: 8rem;

  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 4rem);
  top: -4rem;
}

#page-home .testimony .container-testimony {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--cor-azul-escuro);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  a {
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #1f8a70;
  }

  p {
    color: #212121;
    font-weight: 300;
  }
}

#page-home .testimony .container-testimony .quotes {
  img {
    position: absolute;
    width: 8em;
    top: -3em;
    left: 4px;

    @media screen and (max-width: $breakpoint-notebook) {
      display: none;
    }
  }
}
