section.cta {
  @include padding();

  display: flex;
  height: 100%;

  //Sobrescrevendo o padding top padrão de todos os sections
  padding-top: 200px !important;
}

section.cta .image-cta {
  @include backgroundCover();
  width: 100%;
  max-width: 1200px;
  height: 400px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
}

section.cta .primary-box {
  border: 0.5rem solid var(--cor-verde-escuro);
  background-color: transparent;
  padding: 1rem;
  z-index: 2;
  position: relative;
  width: 90%;
  margin: 0 auto;
  top: -200px;
}

@media screen and (min-width: 1224px) {
  section.cta {
    padding-top: unset;
  }

  section.cta .image-cta {
    height: 600px;
  }

  section.cta .primary-box {
    width: 500px;
    position: absolute;
    top: 50%;
    right: -200px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

section.cta .second-box {
  width: 100%;
  min-height: 400px;
  padding: 20.5rem;
  background-color: var(--cor-azul-escuro);
  color: var(--cor-amarelo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    width: 100px;
    height: auto;
    margin-bottom: 12px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1.5rem;
  }

  a {
    @include linkDefaultStyle();

    border: 1px solid transparent;
    background-color: var(--cor-verde-claro);
    color: var(--cor-azul-escuro);
  }
}
