#page-home .brands {
  background-color: var(--cor-azul-escuro);
  @include padding();
}

#page-home .brands h2 {
  @include title();
}

#page-home .brands .divider {
  @include divider(var(--cor-amarelo));
  margin-bottom: 80px;
}

#page-home .brands .brands-container img {
  text-align: center;
  height: 9rem;
  width: auto;
}

#page-home .brands .brands-container .swiper-slide {
  text-align: center;
  width: fit-content;
}
