:root {
  --cor-verde-claro: #b2dc16;
  --cor-verde-escuro: #008b6f;
  --cor-verde-whatsapp: #00bfa5;
  --cor-azul-escuro: #004358;
  --cor-laranja: #fd7400;
  --cor-amarelo: #ffe11a;
  font-size: 16px;
}

$breakpoint-desktop: 1200px;
$breakpoint-notebook: 1024px;
$breakpoint-tablet: 736px;
$breakpoint-mobile: 448px;

$padding-section-desktop: 96px 64px;
$padding-section-notebook: 80px 32px;
$padding-section-mobile: 48px 16px;

$max-width-content: 1200px;

*,
button,
input {
  font-family: "Raleway", sans-serif;
}

a,
button {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  outline: none !important;
}

a {
  font-weight: bold;
}

body {
  line-height: 1.6;
  position: relative;
}

.no-scroll {
  overflow: hidden;
}

.invisible {
  display: none;
}

.swiper-slide {
  cursor: grab !important;
}
