$breakpoint-form: $breakpoint-tablet + 60px;

#page-contact .form-contact {
  padding: 0 16px;

  @media screen and (min-width: $breakpoint-notebook) {
    padding: 0 32px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    padding: 0 64px;
  }

  width: 100%;
  margin-bottom: 120px;

  h2 {
    text-align: center;
    color: var(--cor-verde-claro);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .divider {
    @include divider(var(--cor-azul-escuro));
    margin-bottom: 100px;
  }
}

#page-contact form {
  width: 100%;
}

#page-contact form .input-block-col-3 {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $breakpoint-form) {
    display: grid;
    column-gap: 32px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-bottom: 24px;
  }
}

#page-contact form label {
  font-weight: bold;
  font-size: 16px;
  color: var(--cor-azul-escuro);
}

#page-contact form input,
#page-contact form select {
  padding: 12px 16px;
  border: 1px solid var(--cor-verde-escuro);
  color: var(--cor-verde-escuro);
  border-radius: 24px;
  width: 100%;
  outline: none;
  font-weight: 500;
  margin-top: 8px;
}

#page-contact form .input-block {
  transition: all ease-in 0.4s;

  @media screen and (max-width: $breakpoint-form) {
    margin-bottom: 24px;
  }
}

#page-contact form .input-block:focus-within {
  label {
    color: var(--cor-laranja);
  }

  input,
  select {
    border-color: var(--cor-laranja);
    color: var(--cor-laranja);
  }
}

#page-contact form button {
  background-color: var(--cor-verde-claro);
  color: #fff;
  font-weight: bold;
  padding: 12px 16px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  border-radius: 24px;
  margin-top: 32px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $breakpoint-form) {
    width: 140px;
  }
}
