#contact-absolute {
  position: fixed;
  bottom: 1.25rem;
  right: 3rem;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact-absolute a {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-absolute a img {
  height: 25px;
  width: 25px;
}

#contact-absolute a.contact-whatsapp {
  border: 1px solid var(--cor-verde-whatsapp);
  background-color: var(--cor-verde-whatsapp);
}

#contact-absolute a.contact-phone {
  width: 2.5rem;
  height: 2.5rem;

  img {
    height: 1rem;
    width: 1rem;
  }
}

#contact-absolute #phone-fixed-tel {
  color: #fff;
  background-color: transparent;
  text-shadow: black 0px 0px 5px;
  position: fixed;
  bottom: 180px;
  right: 7rem;
  z-index: 2;
  display: block;
  opacity: 0;
  transition: all 0.5s linear;
  pointer-events: none;
}

#wrapper-contact-tel:hover {
  #phone-fixed-tel {
    opacity: 1;
  }
}
